---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="container">
    <!-- <div class="banner">
      <span class="c-sharp">C#</span>
      <span class="flutter">Flutter</span>
      <span class="go">Go</span>
    </div> -->
    <p>
      Hello there! I’m Jordan, a software developer with a passion for building
      clean, efficient, and user-friendly applications. While I’ve worked on
      backend development using C# and Golang, most of my professional
      experience over the past three years has been focused on Flutter, with
      Riverpod as my go-to for state management. I believe that great software
      is built on a foundation of honesty, integrity, and a commitment to
      continuous learning. Whether I’m refining an existing system or developing
      something from the ground up, I strive to write maintainable, high-quality
      code that solves real problems. When I’m not coding, you’ll probably find
      me exploring new tech, diving into side projects, or just enjoying a good
      cup of coffee. Let’s connect and build something great!
    </p>
  </div>
</Layout>

<style lang="scss">
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  p {
    font-size: 2rem;
  }
  h1,
  p {
    padding: 2rem;
  }
  // .banner {
  //   display: flex;
  //   justify-content: space-around;
  //   padding: 2rem;
  //   font-size: 5rem;
  //   background-image: url('../assets/wickedbackground.svg');
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   width: 100%;
  //   font-weight: bold;
  // }
  // .c-sharp {
  //   color: #388A34;
  //   transform: rotate(-45deg);
  // }

  // .flutter {
  //   color: #027DFD
  // }
</style>
