---
import BlogCard from "../components/BlogCard.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
const sortedPosts = allPosts.sort((a, b) => new Date(b.data.publishedDate).getTime() - new Date(a.data.publishedDate).getTime());
---

<Layout title="Blog">
  <ul>
    {
      sortedPosts.map((post) => (
        <li>
          <BlogCard
            title={post.data.title}
            image={post.data.image.url}
            slug={post.filePath?.slice(0, -3)}
            altText={post.data.image.alt}
          />
        </li>
      ))
    }
  </ul>
</Layout>

<style lang="scss">
  li {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
</style>
