---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter/>
  </head>
  <body>
    <Header />
    <main transition:animate="slide">
      <slot />
    </main>
  </body>
  <Footer />
</html>

<style lang="scss">
  @use '../styles/global.scss' as g;
  body {
    margin: 0;
    padding: 0;
    background-color: g.$background_color;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
</style>
